{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "cypress",
    "jsx-a11y",
    "jest-dom",
    "react-hooks",
    "testing-library"
  ],
  "extends": [
    "react-app",
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:cypress/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest-dom/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/recommended"
  ],
  "rules": {
    "strict": ["error", "never"],
    "cypress/no-unnecessary-waiting": "warn"
  },
  "env": {
    "browser": true,
    "cypress/globals": true
  }
}
