service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    //Regra de leitura geral para todos usuários(as) autenticados(as)
    match /users/{userId} {
      allow read: if request.auth.uid != null;
    }
  }
}